.best {
background-image: url('../img/bg/best-bg.jpg');
background-repeat: no-repeat;
background-position: center bottom;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}


.section__title--best {
color: $dark;
padding: 0;
margin-bottom: rem(60px);
}

.best__list {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
}

.best__item {
	text-align: center;

}
.best__item-title {
	font-family: 'Lifehack';
	font-size: 24.1px;
	font-weight: 500;
	line-height: 1.17;
	color: #2f3234;
}

.best__item-text {
	opacity: 0.8;
	font-family: 'Ubuntu';
	font-size: 14px;
	font-weight: 300;
	line-height: 1.71;
	color:#323436;
}