footer {
  background: url('../img/bg/footer.jpg') center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(10px) 0;
  height: rem(60px);

}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include phones {
    flex-direction: column;
  }
}

.footer__col {
  width: 50%;
  margin-bottom: rem(15px);
  @include phones {
    width: 100%;
    text-align: center;
  }
}

.footer__address {
  color: #ffffff;
  font-size: rem(14px);
}

.footer__phone {
  color: $red;
  @include ubuntu(bold);
  text-decoration: none;
  font-size: rem(14px);
}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;

  @include phones {
    justify-content: center;
  }
}

.socials {
  position: relative;
  top: 50%;
  display: flex;
  align-items: center;
}

.socials__item {
  margin-left: rem(10px);
}

.socials__link {
  display: inline-block;
  max-width: rem(23px);
  max-height: rem(20px);
  opacity: .3;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.socials__link-icon {
  width: rem(20px);
  height: rem(20px);
}





/*
.contacts {
    margin-right: auto;
    color: #fff;
    font-family: Ubuntu;
    font-style: normal;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.71;
	text-align: left;
	color: #ffffff;
	color: var(--white);
}
.contacts__address {
    color: #fff;
}

.contacts__phone {
    color: $orange;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}


  .socials {
    margin-right: rem(5px);
  }
  
  .socials__list{
    margin: 0;
    padding: 0;
  }
  
  .socials__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 10px;

  }
  
  .socials__link {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  
  .socials__icon {
    display: inline-block;
    vertical-align: middle;
    fill: #595959;
    width: 20px;
    height: 20px;
    &:hover {
      fill: #fff;
    }
    &:first-child {
      margin-left: 0;
    }
  } */