@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}


//responsive
@function rem($px) {
    @return $px / 16px+0rem;
}


@mixin gagalin() {
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	
}

@mixin ubuntu($style: light) {
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}

@mixin lifehack() {
	font-family: 'Lifehack-Medium';
}



@function rem($px) {
	@return $px / 16px + 0rem;
  }
  
  @mixin tablets {
	@media screen and (max-width: $tablets) {
	  @content;
	}
  }
  
  @mixin phones {
	@media screen and (max-width: $phones) {
	  @content;
	}
	}
	

	@mixin cover(){
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}